@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    background-color: #ffb9c4;
}

.navbar {
    background-color: #ffb9c4;
}

.navbar-brand {
    font-size: 1.5em;
    color: red;
}

.navbar-brand:hover {
    color: red;
}

.nav-link {
    font-size: 1.1em;
    color: white;
}

.nav-link:hover {
    color: red;
}

.title {
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.5em;
}

@media (max-width: 1024px) {
    .title {
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1.2em;
    }

    .desc {
        margin-top: 6rem;
        margin-bottom: 8rem;
    }
}

.two {
    background-color: #d52259;
}

.three {
    color: red;
    background-color: #ffd0f1;
}

.four {
    color: red;
    background-color: #f4cadf;
}

h3 {
    font-weight: 300;
}